/* General styling */
body {
    font-family: Arial, sans-serif;  /* font-family declaration */
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

header::before {
    content: "The State of Oregon";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    font-weight: bold;
}

.header-image {
    max-width: 75px;
    height: auto;
}

/* New ID selector for specific element styling */
#special-text {
    color: blue;
    font-weight: bold;
}

/**/
h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Nav bar styling */
nav {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 10px;
}

nav a.button { /* Specific to class .button */
    background-color: #e7e7e7;
}

nav a {
    display: inline-block;
    text-align: center;
    width: 100px;
    text-decoration: none;
    color: #333;
    border: 2px solid #555555;
    border-radius: 12px;
}

nav a:hover {
    font-weight: bold;
    transform: scale(1.30);
    background-color: #e7e7e7;
}


#title-text {
    color: #000080; 
    font-weight: 900; 
    text-decoration: underline;
}




/* Section styling */
section.content {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

aside {
    width: 65%;
    padding: 4px;
    font-size: 0.9em; /* This reduces the font size to 90% of its current size */
    font-style: italic;
    background-color: lightgray;
}




.center {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100px; /* Adjust height as needed */
}



/*Background*/
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;  /* This centers the child elements horizontally */
    align-items: top;  /* This is not a valid value for align-items */
    min-height: 100vh; 
}

.main-container {
    max-width: 800px;
    width: 100%; 
    background-color: rgba(173, 216, 230, 0.5); /* This is a transparent light blue color */
    padding: 20px; 
    box-sizing: border-box;  /* This ensures padding is included in width */
}





